.StyledPricing {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 60px 6.25% 0px 3.125%;
    max-width: var(--maxWidth);
    background: var(--white);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    grid-gap: 40px;
    grid-template-areas:
        'header header header'
        'sidebar form form'
        'sidebar form form';
}

.calculator-form--header {
    grid-area: header;
}

.calculator-form--header h1 {
    font-size: 5.4rem;
    line-height: 54px;
    font-family: var(--boldFont);
    font-weight: 700;
    margin: 2rem 0 0 0;
}

.calculator-form--sidebar {
    grid-area: sidebar;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: column nowrap;
    flex: 1 0 min-content;
}

.sidebar-calculator-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0;
    padding: 1.5rem 0;
}

.sidebar-calculator-info a {
    color: var(--gray);
}

.sidebar-calculator-info a[href^='mailto:']:hover {
    text-decoration: underline;
}

.sidebar-calculator-info h3 {
    font-family: var(--boldFont);
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
}

.sidebar-calculator-info p {
    font-size: 1.2rem;
    line-height: 14px;
    margin: 0.25rem 0 0;
    padding: 0;
}

.calculator-form--form {
    grid-area: form;
    width: 100%;
}

.calculator-form--form form {
    display: flex;
    flex-flow: column wrap;
    flex: 1 0 auto;
    align-items: flex-start;
    justify-content: center;
}

.form--field-wrapper {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding: 10px 0;
}

.form--field-wrapper label {
    text-align: left;
    text-transform: capitalize;
    margin-right: 10px;
    width: 30%;
}

.form--field-wrapper label span {
    color: red;
    vertical-align: super;
}

.form--field-wrapper select,
.form--field-wrapper input,
.form--field-wrapper textarea {
    width: 70%;
    margin: 6px 0 0 0;
    padding: 9px 10px;
    font-size: 1.6rem;
    line-height: 22px;
    color: #33475b;
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    border-radius: 3px;
}

.form--field-wrapper select:focus,
.form--field-wrapper input:focus,
.form--field-wrapper textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    background-color: #fff;
}

.form--field-wrapper textarea {
    height: 100px;
}

.form--disclaimer {
    width: 100%;
    max-width: 500px;
    color: #33475b;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 24px;
}

.form--submit-wrapper .form--submit-btn {
    background-color: var(--yellow);
    border-color: var(--yellow);
    font-family: var(--boldFont);
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 12px;
    font-size: 1.4rem;
    padding: 12px 24px;
    margin: 0;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    outline: none;
}

.form--submit-wrapper .form--submit-btn:active {
    outline: none;
}

.is-hidden {
    display: none !important;
}

.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.notification {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
    padding: 1rem;
    transform: translateY(-20%);
    opacity: 0;
    transition: all 0.5s;
}

.notification.title {
    color: currentColor;
}

.notification.is-success {
    background-color: #209cee;
    color: #fff;
    transform: translateY(0);
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem auto;
}

.notification.is-danger {
    background-color: #ff3860;
    color: #fff;
}

@media (max-width: var(--navMenu)) {
    .StyledPricing {
        grid-template-areas: 'header header header' 'form form form' 'sidebar sidebar sidebar';
        grid-gap: 15px 0;
    }
    .calculator-form--header {
        width: 80%;
        margin: 0 auto;
    }
    .calculator-form--header h1 {
        line-height: 120%;
        font-size: calc(60px + (72 - 60) * ((100vw - 800px) / (1000 - 400)));
        margin: 0 0 2rem 0;
    }
    .calculator-form--form form {
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }
    .form--field-item {
        align-items: flex-start;
        align-self: flex-start;
    }
    .form--field-wrapper {
        width: 80%;
        margin: 0 auto;
    }
    .form--disclaimer {
        align-self: center;
        max-width: none;
        width: 80%;
    }
    .form--submit-wrapper {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        padding: 4rem 0 0 0;
    }
    .form--submit-btn {
        width: 80%;
        font-size: 2.2rem;
        padding: 16px 24px;
        margin: 0 auto;
        border-radius: 6px;
    }
    .calculator-form--sidebar {
        flex-flow: column nowrap;
        align-items: center;
    }
    .sidebar-calculator-info {
        align-items: center;
        text-align: center;
    }
    .sidebar-calculator-info:nth-child(3) {
        padding-bottom: 4rem;
    }
}

@media (max-width: 550px) {
    .calculator-form--header h1 {
        font-size: calc(56px + (72 - 56) * ((100vw - 800px) / (1000 - 400)));
    }
}

@media (max-width: var(--mobileL)) {
    .StyledPricing {
        padding-top: 30px;
    }
    .calculator-form--header {
        width: 96%;
    }
    .calculator-form--header h1 {
        font-size: calc(46px + (58 - 42) * ((100vw - 400px) / (1000 - 300)));
        line-height: 120%;
        margin: 0;
    }
    .calculator-form--form form .form--field-item {
        width: 96%;
        align-items: flex-start;
        align-self: flex-start;
    }
    .form--disclaimer {
        margin: 0 2% 3px;
    }
    .calculator-form--sidebar {
        padding-top: 4rem;
        border-bottom: 5px solid var(--grey);
    }
    .sidebar-calculator-info {
        flex-flow: column nowrap;
    }
    .sidebar-calculator-info h3,
    .sidebar-calculator-info p {
        text-align: center;
    }
}

@media (max-width: var(--mobileM)) {
    .StyledPricing {
        padding-top: 30px;
    }
    .calculator-form--header h1 {
        font-size: calc(42px + (58 - 42) * ((100vw - 400px) / (1000 - 300)));
    }
}